.creditCardBody {
    display: flex;
    justify-content: center;
    align-items: center
}

.creditCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    height: 35vh;
    position: relative;
    border-radius: 10px;
}

.outer-card {
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.creditCardInput,
.creditCardInput::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 3
}

.wrapper .card::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    background-color: #3641d3;
    right: -30px;
    top: -30px;
    border-radius: 50%;
    opacity: 0.7
}

.wrapper .card::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    background-color: #3641d3;
    left: -70px;
    top: -70px;
    border-radius: 50%;
    opacity: 0.4
}

.wrapper .forms {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px
}

.wrapper .forms input {
    height: 40px;
    width: 100%;
    font-size: 18px;
    border: 2px solid #eee;
    border-radius: 4px;
    text-indent: 10px;
    margin-top: 4px
}

.wrapper .forms input:focus {
    outline: none
}

.input-items span {
    font-size: 14px;
    margin-left: 2px
}

.input-items {
    margin-bottom: 10px
}

.one-line {
    display: flex;
    flex-direction: row
}

.one-line .input-items:nth-child(1) {
    margin-right: 10px
}

.input-buttons {
    width: 100%;
    margin-top: 10px
}

.input-buttons a {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center
}