<?xml version="1.0" encoding="ISO-8859-1"?>

<taglib xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">

    <tlib-version>1.0</tlib-version>
    <short-name>mtg</short-name>
    <uri>mytags</uri>
    <tag>
        <name>filmGenresList</name>
        <tag-class>epam.project.finalproject.tags.FilmGenresTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>film</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>epam.project.finalproject.entities.Film</type>
        </attribute>
    </tag>
    <tag>
        <name>pagination</name>
        <tag-class>epam.project.finalproject.tags.PaginationTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>request</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>jakarta.servlet.http.HttpServletRequest</type>
        </attribute>
        <attribute>
            <name>totalPages</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Integer</type>
        </attribute>
        <attribute>
            <name>prev</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>next</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
    </tag>
</taglib>
